.guess__title {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 15px;
}
.guess__descr span {
  color: #f5a997;
  font-weight: bold;
}
@media (min-width: 1024px) {
  .guess__descr {
    max-width: 970px;
    margin: 0 auto;
    text-align: justify;
  }
}
.guess__descr {
  margin-bottom: 40px;
}

.guess__form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--accent-main-color);
}
.guess__label {
}
.guess__input {
}
.input {
}
