/* Перевод с/с */

.main-notation {
  /* background: url(img/noise_black.jpg) ; */
  /* min-height: calc(100vh - 81px - 67px); */
  padding-bottom: 40px;
}
.main-notation__title {
  font-weight: bold;
  font-size: 32px;
  text-align: center;
  color: var(--white-color);
  margin-bottom: 15px;
}
@media (min-width: 1024px) {
  .main-notation__descr {
    max-width: 970px;
    margin: 0 auto;
    text-align: justify;
  }
}
.main-notation__descr {
  font-size: 16px;
  margin-bottom: 30px;
}

.converter-block__input_num {
  text-transform: uppercase;
}
.converter-block__label_num {
  position: relative;
}
.converter-block__text_error {
  position: absolute;
  left: 115px;
  bottom: 115%;
  right: 0;
  font-size: 14px;
  color: var(--error-red-color);
  text-transform: none;
  display: none;
  padding: 10px;
  background: var(--light-main-color);
  border-radius: 10px;
  word-wrap: break-word;
}
.converter-block__text_error span {
  color: var(--accent-main-darker-color);
}
.converter-block__img {
  width: 75px;
  height: 24px;
}
.converter-block__img img {
  width: 100%;
  height: 100%;
}

.converter-block__convert {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 580px) {
  .converter-block__convert,
  .converter-block {
    flex-direction: column;
  }
  .converter-block__img {
    transform: translateY(1px);
    width: 25px;
    height: 35px;
  }
}

.notation-result__body:not(:empty) {
  text-align: center;
  padding-bottom: 10px;
}
.notation-result__body {
  /* opacity: 0; */
  transition: all 0.3s ease 0s;
}
.notation-result__title {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase;
  color: var(--accent-second-color);
  margin-bottom: 12px;
}
.notation-result__result-num {
  font-weight: bold;
  font-size: 32px;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--white-color) fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  word-break: break-word;
  margin-bottom: 15px;
}
.notation-result__result-sep {
  margin: 0 7px;
}
.notation-result__result-num-from > span,
.notation-result__result-num-to > span {
  position: relative;
  z-index: 2;
}
.notation-result__result-num-from span:last-child,
.notation-result__result-num-to span:last-child {
  display: inline-block;
}
.notation-result__result-num-from span:last-child .number-index,
.notation-result__result-num-to span:last-child .number-index {
  transform: none;
  left: 16%;
  top: 0px;
}
.notation-result__result-num-from span .number-index,
.notation-result__result-num-to span .number-index {
  z-index: -1;
  position: absolute;
  font-size: 8px;
  font-weight: normal;
  word-break: normal;
  color: var(--light-main-color);
  left: 50%;
  top: -3px;
  transform: translateX(-50%);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}

.notation-result__result-num-from-notation,
.notation-result__result-num-to-notation {
  color: var(--light-main-color);
}
.notation-result__result-num-from sub,
.notation-result__result-num-to sub {
  word-wrap: normal;
  word-break: normal;
}
.notation-result__result-num-to {
  color: var(--accent-main-color);
}
.notation-result__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.notation-result__btn {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-main-color);
  background: var(--accent-main-color);
  border-radius: 10px;
  font-size: 14px;
  padding: 10px 20px;
  max-width: 202px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.notation-result__btn::before {
  transition: all 0.3s ease 0s;
  opacity: 0;
  content: 'Скопировано!';
  position: absolute;
  z-index: 2;
  left: 50%;
  top: -2px;
  padding: 5px;
  border-radius: 5px;
  transform: translate(-50%, -100%);
  background: var(--accent-main-color);
}
.active.notation-result__btn::before {
  opacity: 1;
}
.notation-result__btn svg {
  width: 20px;
}
.notation-result__btn_white {
  text-align: center;
  text-transform: uppercase;
  color: var(--dark-main-color);
  background: var(--white-color);
  border-radius: 10px;
}
.notation-result__btn_white::before {
  background: rgb(255, 255, 255);
}

.solution-conversion__body:not(:empty) {
  margin-bottom: 50px;
  padding: 25px;
}
.solution-conversion__body {
  background: var(--light-main-color);
  border-radius: 30px;
  transition: all 0.3s ease 0s;
  /* opacity: 0; */
}
.solution-conversion__title {
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  color: var(--accent-second-color);
  margin-bottom: 15px;
}
.solution-conversion__descr {
  display: block;
  margin-bottom: 10px;
  text-transform: none;
  word-wrap: break-word;
  font-size: 20px;
  /* font-weight: normal; */
}
.solution-conversion__text {
  color: var(--dark-main-color);
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  word-wrap: break-word;
}
.solution-conversion__text span {
  color: var(--accent-main-darker-color);
}
.solution-conversion__text:not(:last-child) {
  margin-bottom: 25px;
}
.solution-conversion__text p,
.solution-conversion__text span {
  word-wrap: break-word;
}
.solution-conversion__result-text {
  line-height: 125%;
}
.solution-conversion__list {
  margin-top: 10px;
}
.solution-conversion__item:not(:last-child) {
  margin-bottom: 8px;
}
.solution-conversion__item {
  text-transform: lowercase;
}
.solution-conversion__item span {
  color: var(--accent-second-color);
  text-transform: uppercase;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}
